/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.

 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
   background: url ("/home/israel/Downloads/book1.jpg");
  }

 .user_rating_title {
  margin: 0 0 20px 0;
 }

 .user_ratings {
  padding: 15px 0;
  border-bottom: 1px solid #EAEAEA;
  .star-rating {
   padding-bottom: 8px;
  }
 }

//  th, td {
//  border-bottom: 1px solid #FFFF00;
//  border-top: 1px solid lightgrey;
// }

.book-form {
  margin-right: 200px;
  margin-left: 200px;
  padding: 25px;
  border-radius: 10px;
  background-color: whitesmoke;
	border: 1px solid #e3e3e3;
	border-radius: 15px;
	box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.16),
		0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.review-form {
  padding: 25px;
  background-color: whitesmoke;
	border: 1px solid #e3e3e3;
	border-radius: 15px;
	box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.16),
		0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
